{% extends "bar/base.html" %}
{% block content %}
{% if user.is_authenticated %}

<div class="uk-card uk-card-default uk-align-center uk-card-hover uk-animation-fade uk-card-body uk-width-1-3@m login-card">

    {% if bar.name %}
        <h3 class="uk-card-title">Editing {{bar.name}}</h3>
    {% else %}
        <h3 class="uk-card-title">Add Bar</h3>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {% include 'bar/form_temp.html'%}
        <button class="uk-button uk-button-primary uk-align-right" type="submit">Submit</button>
    </form>

</div>
{% else %}
<h1>Access Denied</h1>
{% endif %}

<script>
$( function() {
  $( "#datepicker" ).datepicker();
} );
</script>

{% endblock content %}
