<!DOCTYPE html>
<html>

<head>
    {% if bar %}
    <title>{{ bar.name }} | BrewTrack</title>
    {% else %}
    <title>BrewTrack</title>
    {% endif %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/css/uikit.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bar/styles.css' %}">

</head>

<body>
    <nav class="uk-navbar-container" uk-navbar>
        <h1 class="uk-align-left" id="nav-title"><a id="title-link" href="/">brewTrack</a></h1>
        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
                {% if user.is_authenticated %}
                <li>
                    <a class="nav-link" href="#">{{ request.user }} <span uk-icon="triangle-down"></span></a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="#"><span uk-icon="user"></span> Profile </a></li>
                            <li class="uk-active"><a href="/logout"><span uk-icon="sign-out"></span> Logout </a></li>
                        </ul>
                    </div>
                </li>

                {% else %}
                <li class="uk-parent">
                    <a class="nav-link" href="/login"> <span uk-icon="sign-out"></span> Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div id="block-content">
        {% block content %}
        {% endblock content %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/js/uikit-icons.min.js"></script>
</body>
<footer>

</footer>

</html>
