{% extends "bar/base.html" %}

{% block content %}
<style>
    #map {
        margin-top: 25px;
        height: 60vh;
        width: 100%;
    }
</style>
<div class="uk-grid-small uk-grid-match uk-child-width-1-2@m" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-card-hover">
            <div class="uk-card-header">
                <h1 class="uk-card-title uk-margin-remove-bottom">Local Bars</h1>
            </div>

                <div class="scrollable" style="height: 62.5vh;">
                    {% if bar_list %}
                    <ul class="uk-list uk-list-divider">
                        {% for bar in bar_list %}
                        <li class="uk-animation-fade">
                            <h3 class="uk-margin-top">
                                <a href="{% url 'bar:bar' bar.id %}">{{ bar.name }}</a>
                            </h3>
                            <div><span uk-icon="location"></span>{{bar.location}}</div>
                            <div><span uk-icon="calendar"></span>{{bar.hours}}</div>
                        </li>
                        <br />

                        {% endfor %}
                    </ul>

                    {% else %}
                    <p>No bars :(</p>
                    {% endif %}
                </div>

        </div>
    </div>

    <div>
        <div class="uk-card uk-card-default uk-card-body uk-card-hover">
            <div class="uk-card-header">
                <h1 class="uk-card-title">Map</h1>
            </div>
            <div id="map" class="uk-animation-fade"></div>
        </div>
    </div>


</div>

<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>

<script>


  L.mapquest.key = 'DRWqawOaON9BhBAg7SLazItfXHWdk9Dq';
  console.log("{{bar_list}}");

  var map = L.mapquest.map('map', {
    center: [40.7934, -77.8600],
    layers: L.mapquest.tileLayer('map'),
    zoom: 14

  });
  L.mapquest.textMarker([40.794140, -77.861580], {
  text: 'Bill Pickles Tap Room',
  subtext: 'Bar',
  position: 'right',
  type: 'marker',
  icon: {
    primaryColor: '#333333',
    secondaryColor: '#333333',
    size: 'sm'
  }
}).addTo(map);

L.mapquest.textMarker([40.789211, -77.858162], {
  text: 'Cafe 210',
  subtext: 'Bar',
  position: 'right',
  type: 'marker',
  icon: {
    primaryColor: '#333333',
    secondaryColor: '#333333',
    size: 'sm'
  }
}).addTo(map);

L.mapquest.textMarker([40.794810, -77.860560], {
  text: 'Jax Bar & Grill',
  subtext: 'Bar',
  position: 'right',
  type: 'marker',
  icon: {
    primaryColor: '#333333',
    secondaryColor: '#333333',
    size: 'sm'
  }
}).addTo(map);

L.mapquest.textMarker([40.795410, -77.859750], {
  text: 'ShandyGaff',
  subtext: 'Bar',
  position: 'right',
  type: 'marker',
  icon: {
    primaryColor: '#333333',
    secondaryColor: '#333333',
    size: 'sm'
  }
}).addTo(map);
</script>

{% endblock content %}
