{% extends "bar/base.html" %}
{% block content %}
<style>
</style>
{% if user.is_authenticated %}
<h1>{{bar.name}} Point of Sales</h1>
<div class=" uk-grid-small uk-grid-match uk-child-width-1-2@m" uk-grid>
    <div>
        <div id="pos-card" class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h3 class="uk-card-title uk-margin-remove-bottom">Tab</h3>
                <a class="uk-align-right" uk-icon="plus" href="" style="margin-top: -25px;"></a>
            </div>
            <div id=pos-body class="uk-card-body">
                <ul id="pos-list" class="scrollable uk-list uk-list-divider" style="height: 40vh;"></ul>
            </div>
            <div id=pos-footer class="uk-card-footer">
                <form id="pay-form"onsubmit="return false;" method="post">
                    {% csrf_token %}
                    <a>
                        <button id="pay-button" class="uk-button uk-button-primary">Pay</button>
                    </a>
                    <a href="">
                        <button class="uk-button uk-button-primary" type="button">Change Tab</button>
                    </a>
                        <h3 id="pos-total" class="uk-align-right">
                            0.00
                        </h3>
                        <h3 class="uk-align-right" style="margin-right: -30px;">
                            Total:  $
                        </h3>
                </form>
            </div>
        </div>
    </div>

    <div>
        {# Filter #}
        <div uk-filter="target: .js-filter">
        <div class="uk-grid-small uk-grid-divider uk-child-width-auto" uk-grid >
            <div>
                <ul class="uk-subnav uk-subnav-pill" uk-margin>
                    <li class="uk-active" uk-filter-control><a href="#">All</a></li>
                </ul>
            </div>
            <div>
                <ul class="uk-subnav uk-subnav-pill" uk-margin>
                    {% for type in typeList %}
                    <li uk-filter-control="[data-tags*='{{type}}']"><a href="#">{{type}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <ul class="uk-subnav uk-subnav-pill" uk-margin>
                    {% for type in subList%}
                    <li uk-filter-control="[data-tags*='{{type}}']"><a href="#">{{type}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="scrollable" style="height: 65vh; margin-top: 30px;">
            <div class="js-filter uk-grid-small uk-grid-match uk-child-width-1-3@m" uk-grid>
            {% for item in items %}
                <div data-tags="{{item.type}} {{item.subtype}}">
                    <div id="pos-item-{{item.id}}" onclick="addItem('{{item.name}}', '{{item.price}}', '{{item.id}}')" class="uk-card uk-card-default uk-card-body uk-card-hover" style="margin-bottom: 25px">
                        <h3 id="pos-item-name-{{item.id}}" class="pos-item-name uk-card-title">{{item.name}}</h3>
                        <div>{{item.price}}</div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        </div>
    </div>
</div>
{% else %}
<h1>Access Denied</h1>
{% endif %}

{% csrf_token %}
<script type="text/javascript">
    itemList = []
    var point = 0
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function addItem(name, price, id) {
        var inFlag = false;
        if(itemList.length > 0){
            for (var i = 0; i < itemList.length; i++) {
                if (itemList[i].id === id ) {
                    itemList[i].count = itemList[i].count + 1;
                    inFlag = true
                    $( "#item-id-" + id ).html('<li id=item-id-' + id +'><div class="uk-width-expand">' + itemList[i].name + " x " + itemList[i].count +'</div><div class="uk-align-right" style="margin-top:-25px">' + parseFloat(Math.round(parseFloat(price)*itemList[i].count * 100) / 100).toFixed(2)  + '</div></li>')
                    break;
                } else {
                    inFlag = false
                }
            }
            if (inFlag == false) {
                itemList.push({name: name, price: price, id:id, count:1});
                $("#pos-list").append('<li id=item-id-' + id +'><div class="uk-width-expand">' + itemList[i].name + " x " + itemList[i].count +'</div><div class="uk-align-right" style="margin-top:-25px">' + parseFloat(Math.round(parseFloat(price)*itemList[i].count * 100) / 100).toFixed(2)  + '</div></li>');
            }

        } else {
            itemList.push({name: name, price: price, id:id, count:1});
            $("#pos-list").append('<li id=item-id-' + id +'><div class="uk-width-expand">' + itemList[0].name + " x " + itemList[0].count +'</div><div class="uk-align-right" style="margin-top:-25px">' + parseFloat(Math.round(parseFloat(price)*itemList[0].count * 100) / 100).toFixed(2)  + '</div></li>');
        }

        var total = parseFloat($( "#pos-total" ).text());
        total = total + parseFloat(price);

        $( "#pos-total" ).text(parseFloat(Math.round(total * 100) / 100).toFixed(2));
    }

    $('#pay-button').click(function() {
        console.log("form submitted!")  // sanity check
        $.ajax({
            url: window.location.href,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            async: true,
            data: JSON.stringify(itemList),
        });

        window.location.reload();
    });
</script>
{% endblock content %}
