{% extends "bar/base.html" %}
{% block content %}

<div class="uk-card uk-card-default uk-align-center uk-card-hover uk-animation-fade uk-card-body uk-width-1-3@m login-card">

    <h3 class="uk-card-title">Create New Account</h3>

    <form method="post">
        {% csrf_token %}
        {% include 'bar/form_temp.html'%}
        <button class="uk-button uk-button-primary" type="submit" value="login">Register</button>
        <a class="uk-align-right login-secondary" href="{% url 'bar:login'%}">Already Have an Account?</a>
    </form>

</div>

{% endblock content %}
