::selection {
  background: #D2DAD4; /* WebKit/Blink Browsers */
}
a, u {
    text-decoration: none !important;
}
div, a, h1, h2, h3, p {
    font-weight: lighter;
}
span {
  margin-right: 5px !important;
  margin-left: 2px !important;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
#content {
  flex: 1;
}
#footer {
  text-align: center;
  font-size: 12px;
}
#logo {
  margin-top: -10px;
  margin-right: 10px;
}

/* Website Base */
.uk-navbar-container {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d87f0+0,7bb6e0+100 */
  background: #1d87f0 !important; /* Old browsers */
  background: -moz-linear-gradient(left, #1d87f0 0%, #7bb6e0 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1d87f0 0%,#7bb6e0 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1d87f0 0%,#7bb6e0 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d87f0', endColorstr='#7bb6e0',GradientType=1) !important; /* IE6-9 */
}
.nav-link {
    color: #f6f7f8 !important;
    font-size: 16px !important;
    margin-right: 15px;
}
.nav-link:hover {
    color: #696969 !important;
}
#nav-title {
  font-weight: normal !important;
    font-size: 32px !important;
    color: #f6f7f8;
    padding-top: 25px;
    padding-left: 25px;
}
#title-link {
  font-weight: normal !important;
  color: #f6f7f8;
}
#title-link:hover {
  color: #f6f7f8;
}
#block-content {
    margin: 20px 20px;
}

#page-footer {
  text-align: center;
}

h1.uk-card-title {
  font-size: 36px;
  margin-top: -25px !important;
  margin-left: -25px;
}

.scrollable {
  width: 100%;
  /* height: 62.5vh; */
  overflow: scroll;
}

/* Login Classes */
.text-input {
    width: 100%;
    margin-bottom: 25px;
}
.text-check {
  width: 20px;
  height: 20px;
}
.login-card {
  margin-top: 50px;
}
.login-secondary {
  margin-top: 10px;
  margin-right: 15px;
}
#item-add {
  margin-left: 2px;
}
.item-size {
  color: #696969 !important;
  margin-top: 25px;
  margin-left: 10px;
  font-size: 14px !important;
}

/* Calender Styling */
.ui-datepicker {
 /* background: #ffffff !important; */
}
.ui-datepicker-header{
  background: #1d87f0 !important;
  border-color: #1d87f0 !important;
}
.ui-datepicker-prev {
  float: left;
  cursor: pointer;
}
.ui-datepicker-next {
    /* float: right;
    cursor: pointer;
    background-position: center 0px; */
}
.ui-datepicker-next:hover {
  background: #4ba2e5 !important;
  border-color: #4ba2e5 !important;
}
.ui-datepicker-prev:hover {
  background: #4ba2e5 !important;
  border-color: #4ba2e5 !important;
}
.trash-button: {
    background-color: #696969 !important;
}
.trash-button:hover {
    color: #EE395B !important;
}
.pos-card{
  min-height: 100%;
  display: flex;
  /* height: 75vh; */
  flex-direction: column;
}
.pos-body {
  flex: 1;
}
/* #pos-total {
    margin-top: -40px;
} */
