::selection {
  background: #D2DAD4; /* WebKit/Blink Browsers */
}
a, u {
    text-decoration: none !important;
}
.uk-navbar-container {
    background-color: #1D87F0 !important;
}
.nav-link {
    color: #f6f7f8 !important;
}
.nav-link:hover {
    color: #BEBEBE !important;
}
#nav-title {
    color: #f6f7f8;
    margin: 10px 10px;
}
#title-link {
  color: #f6f7f8;
}
#title-link:hover {
    color: #f6f7f8;
}
#block-content {
    margin: 20px 20px;
}
.text-input {
    width: 100%;
    margin-bottom: 25px;
}

.login-card {
  margin-top: 50px;
}

.login-secondary {
  margin-top: 10px;
  margin-right: 15px;
}
#login-button {
  /* margin-right: 50% !important; */
}
