@import "foundation";

$primary-color: #1192d3;
$color2: #011627;
$color3: #1e1e24;
$color4: #e6efe9;
$color5: #f6f7f8;

.menu {
    background-color: $primary-color;
}

h1 {
    color: $primary-color;
}
