::selection {
  background: #D2DAD4; /* WebKit/Blink Browsers */
}
a, u {
    text-decoration: none !important;
}
.uk-navbar-container {
    background-color: #0A5074 !important;
}
.nav-link {
    color: #f6f7f8 !important;
}
.nav-link:hover {
    color: #BEBEBE !important;
}
#nav-title {
    color: #f6f7f8;
}
#title-link {
  color: #f6f7f8;
}
#title-link:hover {
    color: #f6f7f8;
}
